.container{
    height: 100%;
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.box{
    height: 100px;
    width: 100px;
    background-color: white;
    border: 1px solid grey;
}