/* Common.css */

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    margin-top: 40px;
    background-color: bisque;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap : 1.5rem;
    padding: 20px;
}

.cards {
    border: 10px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 10px black;
    background-color: white;
}

.cards:hover {
    cursor: pointer;
    background: transparent;
    background-color: beige;
}

.userName {
    text-align: center;
    color: orangered;
}

.email {
    margin-top: 15px;
    flex-direction: row;
}

.email p1 {
    font-weight: 700;
}

.email p2 {
    margin-left: 5px;
}

.company {
    margin-top: 1px;
}

.company p1 {
    font-weight: 700;
}

.company p2 {
    margin-left: 5px;
}

.phone {
    margin-top: 1px;
}

.phone p1 {
    font-weight: 700;
}

.phone p2 {
    margin-left: 5px;
}

.website {
    margin-top: 1px;
}

.website p1 {
    font-weight: 700;
}

.website p2 {
    margin-left: 5px;
}

.address {
    margin-top: 1px;
}

.address p1 {
    font-weight: 700;
}

.address p2 {
    margin-left: 5px;
}

.image img {
    height: 100%;
    width: 100%;
    align-self: center;
}

.albumCards {
    border: 10px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 10px black;
    background-color: white;
    padding-top: 20px;
}

.albumCards:hover {
    cursor: pointer;
    background: transparent;
    background-color: beige;
}

.albumId {
    text-align: center;
    color: orangered;
    font-weight: 700;
    font-size: 18px;
}

.albumTitle {
    font-size: 17px;
    font-weight: 700;
    margin-top: 20px;
}

.albumDetailsCards {
    border: 10px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 10px black;
    background-color: white;
    padding-top: 20px;
}

.albumDetailsTitle {
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    margin-top: 10px;
}

@media screen and (max-width: 1024px) {
    .main{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .main {
        grid-template-columns: 1fr;
    }
}