/* Header.css*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.mainHeader {
    background-color: bisque;
    height: 70px;
    display: grid;
    grid-template-columns: 6% 86% 8%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.mainHeader img {
    height: 70px;
    width: 70px;
}

.mainHeader img:hover {
    cursor: pointer;
}

.mainHeader button {
    border-radius: 5px;
    height: 30px;
    width: 60px;
    background-color: white;
}

.mainHeader button:hover {
    cursor: pointer;
    background-color: orangered;
    color: white;
}

@media screen and (max-width: 1024px) {
    .mainHeader {
        grid-template-columns: 9% 79% 12%;
    }
}

@media screen and (max-width: 600px) {
    .mainHeader {
        grid-template-columns: 16% 66% 18%;
    }
}

@media screen and (max-width: 300px) {
    .mainHeader {
        grid-template-columns: 74% 26%;
    }

    .mainHeader h2 {
        display: none;
    }
}